#inputbox{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-radius: .25rem;
  }

  #inputbox:hover,
  #inputbox:active,
  #inputbox:focus{
    border-bottom: 2px solid rgb(34, 185, 245);

  }
  #inputbox1{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-radius: .25rem; 
  }

  #inputbox1:hover,
  #inputbox1:active,
  #inputbox1:focus{
    border-bottom: 2px solid rgb(34, 185, 245);

  }
  #adminsidebar nav{
    min-width: 0%;
  }
  .admin-content-card{
    margin-top: 3%;
    box-shadow: 0px 0px 25px rgba(0,0,0,.1);
    border: 0px;
    border-radius: 5px;
    /* padding: 20px; */
    background: #fff;
    height: auto;
  }
  .admin-content-card label{
    color: black;
  }
  @media (min-width:778px){
    .admin-content-card label{
      color: black;
      width: 160px;
      text-align: right;
      padding-right: 20px;
    }
  }
  /* .posts_editor{
    padding: 0px !important;
  } */
  .side-image img{
    width: 100%;
    height: auto;
    padding-top: 10px;
  }

   .side-image{

    box-shadow: 0px 0px 25px rgba(0,0,0,.1);
    border: 0px;
    border-radius: 5px;
    /* padding: 20px; */
    background: #fff;
    height: 100%;
    padding-bottom: 10px;
  } 
.side-image input[type='file']{
  border: 0px;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow{
  height: 20x0px !important;

}
#plans_editor .ql-toolbar.ql-snow + .ql-container.ql-snow{
  height: 150px !important;

}
.plans-btn{
  text-align: center;
}
