.video-container {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    /* margin: 50px auto; */
    /* border: 2px solid #645cff; */
    /* box-shadow: 0px 0px 25px rgba(51, 51, 51, 0.1);
    border-radius: 5px; */
    background-color: black;
  }
  .my-video {
    width: 130px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    box-shadow: 0px 0px 25px rgba(51, 51, 51, 0.1);
    border-radius: 6px;
    z-index: 2;
  }

  .user-video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .visible_modal{
      visibility:visible;
  }
  .non-visible{
      visibility: hidden;
  }

  .caller_div{
      text-align: center;
  }
  .caller_div img{
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
}
.end_call_btn{
    z-index: 1;
    position: absolute;
    top: 90%;
    text-align: center;
    left: 45%;
}

.end_call_btn img{
    widows: 40px;;
    height: 40px;
}

  .user-video::-webkit-media-controls-timeline {
    display: none;
}